body
{
    background-color: rgb(70, 65, 65);
    margin:auto;
    color: blanchedalmond;
    letter-spacing: 2px;
}
.name
{
    font-size: 30px;
    margin-left: 15px;
}
.detail
{
    font-size: 20px;
    margin-left: 15px;
}