
.container
{
    margin-top: 3rem;
    border: 3px solid black;
    height: 680px;
    background-color: rgb(143, 136, 136);
    margin-left: 200px;
    margin-right: 200px;
}   
.col-12
{
    margin-top: 5rem;   
    margin-left: 10px;
}
p{
    margin-left: 10px;
}